@charset "utf-8";
/* CSS Document */

.container {
    position: absolute;
    width: 250px;
}

.container table {
text-align:center;
text-shadow: 1px 1px 3px black;

}

.job-rank{
color:#fff;
font-family: 'Courier New', monospace;
text-decoration: underline;
font-size:21px;

}

.job-name{
color: #00BFFF;
text-transform: uppercase;
font-family: 'Verdana', sand-serif;
font-weight: bold;
font-size:24px;

}